Crear las siguientes variables.

* Una variable donde asignes el nombre de una película
* Una variable que contenga los primeros 4 decimales de PI
* Una variable que contenga la cantidad de mascotas que tienes

In [1]:
pelicula = "Inception"

In [2]:
pi = 3.1416

In [3]:
mascotas = 14

Imprime los siguientes mensajes utilizando format de tal manera que el resultado sea parecido a lo siguiente:

```bash
La película que elegi es Harry Potter
````

```bash
El valor de pi es 3.1416
````

```bash
La cantidad de mascotas que tengo son 2
````

In [4]:
print("La película que elegí es {}".format(pelicula))

La película que elegí es Inception

In [5]:
print("El valor de pi es {}".format(pi))

El valor de pi es 3.1416

In [6]:
print("La cantidad de mascotas que tengo son {}".format(mascotas))

La cantidad de mascotas que tengo son 14

Crea una tabla utilizando f strings donde salgan 3 empleos aleatorios, sus respectivos sueldos y el país donde radican.

In [10]:
empleo1 = "Bombero"
empleo2 = "Profesora"
empleo3 = "Músico"

sueldo1 = "15K"
sueldo2 = "20K"
sueldo3 = "12K"

pais1 = "USA"
pais2 = "México"
pais3 = "Canada"

In [15]:
print(f"{empleo1:12}|{sueldo1:5}|{pais1}")
print(f"{empleo2:12}|{sueldo2:5}|{pais2}")
print(f"{empleo3:12}|{sueldo3:5}|{pais3}")

Bombero     |15K  |USA
Profesora   |20K  |México
Músico      |12K  |Canada

Desarrolla un programa donde pida 2 números y devuelva la suma, resta, multiplicación y división de los mismos.

In [16]:
numero1 = float(input("Ingresa un número: "))
numero2 = float(input("Ingresa un número: "))

In [17]:
print(numero1 + numero2)
print(numero1 - numero2)
print(numero1 * numero2)
print(numero1 / numero2)

8.0
-2.0
15.0
0.6

Crea una lista con 4 colores y despues ejecuta las siguientes lineas de código:

In [25]:
colores = ["Azul", "Rojo","Blanco","Naranja"]

In [26]:
print(f"El color 0 es {colores[0]}")
print(f"El color 1 es {colores[1]}")
print(f"El color 2 es {colores[2]}")
print(f"El color 3 es {colores[3]}")

El color 0 es Azul
El color 1 es Rojo
El color 2 es Blanco
El color 3 es Naranja

Crea una lista con 4 ciudades y utilizando Slice, que aparezcan las 2 de enmedio

In [27]:
ciudades = ["New York", "Monterrey", "Guadalajara", "CDMX"]

De nuestra lista de ciudades, imprime la ultima ciudad

In [28]:
print(ciudades[1:3])

['Monterrey', 'Guadalajara']

Agrega los siguientes datos a tu lista de colores: "Morado", "Rosa"

In [29]:
colores.append("Morado")
colores.append("Rosa")

In [30]:
colores

['Azul', 'Rojo', 'Blanco', 'Naranja', 'Morado', 'Rosa']

La siguiente lista contiene las alturas de 15 niños de cuarto grado, sacr el promedio de alturas.

In [32]:
alturas = [1.35, 1.56, 1.42, 1.22, 1.37, 1.23, 1.40, 1.25, 1.22, 1.37, 1.30, 1.15, 1.24, 1.31, 1.17]

In [33]:
promedio = sum(alturas)/len(alturas)

In [34]:
promedio

1.304

Obten la altura mas chica del grupo

In [35]:
min(alturas)

1.15

Obten la altura más alta del grupo

In [36]:
max(alturas)

1.56

Crea un diccionario de perros, donde lleva 2 claves: Nombre y Raza

In [37]:
perros = {"Nombre": "Lucky", "Raza": "Cocker spaniel"}

In [38]:
print(perros)

{'Nombre': 'Lucky', 'Raza': 'Cocker spaniel'}

Agrega una clave llamada Edad a nuestro diccionario y asignale un valor

In [39]:
perros["Edad"] = 9

Crea 2 diccionarios de perro más incluyendo el valor edad.

In [40]:
perros2 = {"Nombre": "Bobby", "Raza": "Labrador", "Edad": 4}

In [41]:
perros3 = {"Nombre": "Pequeña", "Raza": "Chihuahua", "Edad": 1}

Crea una lista llamada mascotas y dentro de los corchetes, agrega los 3 diccionarios

In [42]:
mascotas = [perros, perros2, perros3]

In [43]:
mascotas

[{'Nombre': 'Lucky', 'Raza': 'Cocker spaniel', 'Edad': 9},
 {'Nombre': 'Bobby', 'Raza': 'Labrador', 'Edad': 4},
 {'Nombre': 'Pequeña', 'Raza': 'Chihuahua', 'Edad': 1}]